.container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;

}
.box{
    height: 100px;
    width: 100px;
    background: red;
    border: 1px solid white;
    

}
.title {
    display: flex;
    justify-content:center ;
    align-items: center;
}
